:root{
    --bg-black: #000;
    --bg-white: #fff;
    --bg-text: #3b3b3b;
    --bg-button: #4bc970;
    --bg-green: #247a3e;
    --bg-red: #ca2a2a;
    --font:"Nunito", sans-serif;
    --title: 20px;
    --text: 16px;
    --text_bold: 700;
    --text_light: 200;
    --text_medium: 500;
}

*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: var(--font);
    font-size: 100%;
    list-style-type: none;
    background-color: var(--bg-black);
}

.div_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100vh;
    /* padding: 20px; */
}

.div_img{
    /* background-image: url(img/criptomoneda-bitcoin-etherum-economia-tecnologia.jpg.webp); */
    /* background-position: center; */
    /* background-size: auto;
    background-repeat: no-repeat, repeat; */
    width: 100%;
    /* height: 100vh; */
    mask-image: linear-gradient (black, transparent);
    -webkit-mask-image: linear-gradient(black, transparent);
    & img{
        width: 100%;
        height: 90%;
        margin: 0;
        padding: 0;
        border: none;
    }
}

.div_content{
    width: 70%;
}

.div_input{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    & label{
        color:var(--bg-white);
    }
    & .title{
        font-size: var(--title);
        margin: 10px 0;
        font-weight: var(--text_bold);
    }
    & .inputs{
        background: rgba(255,255,255,0.1);
        border: none;
        font-size: var(--text);
        height: auto;
        margin: 0;
        outline: 0;
        padding: 10px;
        width: 100%;
        background-color: #e8eeef;
        color: var(--bg-text);
        border-radius: 5px;
        /* box-shadow: 0 1px 0 rgba(0,0,0,0.03)  */
    }
}

button[type="submit"]{
    padding: 10px;
    color: var(--bg-white);
    background-color: var(--bg-button);
    font-size: var(--text);
    font-weight: var(--text_bold);
    text-align: center;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    /* border-width: 1px 1px 3px; */
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin: 20px 0;
    cursor: pointer;
    &:hover{
        background-color: var(--bg-green);
        transition: all .3s ease-in-out;
    }
}

.error{
    color: var(--bg-white);
    background-color: var(--bg-red);
    padding: 10px 0;
    margin: 2px 0;
    text-align: center;
    font-weight: var(--text_bold);
    border-radius: 5px;
}

@media (max-width: 980px) {
    .div_grid{
        display: inline;
    }
    .div_img{
        height: 80%;
    }
}

/* @media (max-width: 768px) {
    .div_grid{
        display: inline;
    }
    .div_img{
        height: 80%;
    }
} */
